/* -------------- HTML - BODY ------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans','Courier New', Courier, monospace;
  font-weight: 200;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}


/* ========= RESPONSIVIDADE DESKTOP ======================== */

/* @media  (max-width: 460px) {
  .content {
    width: 100%;
  }
} */


/* ============== BUTTONS ========================== */

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.btn {
  padding: 0 1.5rem 2rem 1rem;
}

.btn-add-projects {
  margin-top: 2rem;
}

.buttons-login {
  margin-bottom: 2rem;
  margin-top: 5rem;
}

#btnE, #btnNew, #btn_register, #btnSave, #btnNewClient, #btnView, #btnSave, #btnLoadProjects, #btn_save, #btnBack {
  width: 8rem;
  height: 2rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  color: black;
  box-shadow: .3rem .3rem .2rem grey;
}

#btnE:hover {
  border:1px solid black;
}

#btnNew:hover {
  border:1px solid black;
}

#btnView:hover {
  border:1px solid black;
}

#btnNewClient:hover {
  border: 1px solid black;
  cursor: pointer;
}
#btnSave:hover {
  border: 1px solid black;
  cursor: pointer;
} 

#btnLoadProjects {
  border: 1px solid black;
}

#btn_register {
  margin-top: 3rem;
  margin-left: 3rem;
}

#btn_register:hover {
  border: 1px solid black;
  cursor: pointer;
}

#btnLoadProjects:hover {
  border: 1px solid black;
} 

.btn-id {
  margin-top: 5rem;
}

/* ============== END BUTTONS ====================== */


/* =============== HOME ======================= */

.container {
  text-align: center;
  margin-top: 3rem;
}

header {
  
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
  
}


header a, Link {
  padding: .8rem;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 600;
  border-bottom: 1px solid #BB161B;
  margin-bottom: .5rem;
}

header a:hover {
  color: #BB161B;
}

.input-text-form {
  text-align: center;
}


.logo-appprojetos img {
  width: 10rem;
  height: 10rem;
}


/* ============= END HOME =========================== */



/* ============= FORM LOGIN APPPROJETOS =============- */
.login-form {
  text-align: center;
  margin-top: 3rem;
}

#label-login {
  margin-left: 3rem;
  font-weight: 500;
}


.clientLogin {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.input-text-form {
  margin-top: 5rem;
}

label {
  font-size: .9rem;
}

input {
  
  border: none;
  border-bottom: 1px solid rgb(82, 92, 92);
  padding: 5px 5px;
  outline: none;
  width: 15rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

#email {
 
  width: 15rem;
  background: white;
  margin-bottom: 1rem;
}

#password {
  width: 15rem;
  background: white;
  margin-bottom: 1rem;
}

.login-error {
  text-align: center;
  color: #BB161B;
}
/* ================= FORM LOGIN END ==================  */

/* ================= PROJECT ID =========== */


/* --------------- CLIENT / USER --------------- */

.logomarca {
  margin: 0 auto;
}

#logo {
  width: 10rem;
}

.projects {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 400;
}




/* --------------- NEW PROJECT ------------------------ */

.newClient {
  color: black;
  font-size: medium;
  height: 2rem;
  background: white;
  /* padding-left: .3rem;
  margin-left: .2rem; */
  margin-top: 3rem;
}

.newClient input {
  width: 15rem;
}


/* ---------------  PROJECT LIST ----------------*/

.clientFormProjects {
  padding: 4rem;
  height: 37rem;
}
.projects2 {
  text-align: center;
  width: 100%;
  margin-top: 4rem;
  font-weight: 400;
}

.registeredList {
  margin-top: 2rem;
  display: inline-block;
}

.listProjects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  text-align: center;
  margin-bottom: 10rem;
}

li {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: rgb(82, 82, 82);
}

li:hover {
  color:#BB161B;
  cursor: pointer;
}

#title-projects {
  margin-bottom: 3rem;
  font-weight: 500;
}

.project-list-add {
  text-align: center;
}

.registeredList {
  margin: 0 auto;
}



/* ---------- REGISTER CLIENTS-------------------- */


.registerForm ul li {
  list-style: none;
}

.sectionForm {
  padding-left: 4rem;
}

.textInput {
  text-align: left;
}



/* ============= RESPONSIVIDADE ============ */
